.img-flower {
  @media (max-width: 575px) {
    margin-left: -28rem;
    max-width: 45%;
  }
  @media (min-width: 576px) and (max-width: 991px) {
    margin-left: -48rem;
    max-width: 23%;
  }
  margin-left: -56rem;
  max-width: 23%;
  position: absolute;
  z-index: 10;
}
