.img-index {
  max-width: 100%;
}

.text-img {
  color: $whitesmoke;
  margin-left: 123rem;
  margin-top: -21rem;
}

.img-flower {
  @media (max-width: 575px) {
    margin-left: -28rem;
    max-width: 45%;
  }
  @media (min-width: 576px) and (max-width: 991px) {
    margin-left: -48rem;
    max-width: 23%;
  }
  margin-left: -56rem;
  max-width: 23%;
  position: absolute;
  z-index: 10;
}

.img-prin {
  max-width: 100%;
}

.items1 {
  @media (max-width: 575px) {
    background-size: cover;
  }
  background-attachment: local;
  background-image: url('../img/img-principal.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
}

.img-item {
  max-height: 53vh;
  max-width: 70%;
  padding-block: 2rem;
}

.section-cards {
  margin-top: 8rem;
}

.card-text {
  color: $white;
  font-family: $inter;
  font-size: 1rem;

  &:hover {
    text-decoration: none;
  }
}

.div1-card {
  align-items: center;
  background-color: $white;
  display: flex;
  justify-content: center;
  margin-top: -2.1rem;
  width: 70%;
}

.div2-card {
  background-color: $black;
  margin: .5rem;
  text-align: center;
  width: 48%;

  p {
    text-decoration: none;
  }
}

.img-card {
  height: auto;
  text-align: center;
  width: 100%;
}

.text-block-card {
  align-items: center;
  display: flex;
  justify-content: center;
}

.block-card {
  margin: .2rem;

  &:hover {

    .div2-card {
      background-color: $crimson;
    }
  }

  p {
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }
}

.display-card {
  align-items: center;
  display: flex;
  justify-content: center;
}

.owl-carousel {
  &.owl-loaded {
    display: inline-block;
  }

  .owl-nav {
    button {
      &.owl-next,
      &.owl-prev {
        font-size: 3rem;
      }
    }
  }
}

.owl-theme {
  .owl-dots {
    .owl-dot {
      display: none;
    }
  }
}

.item {
  aspect-ratio: 2 / 1; //sass-lint:disable-line no-misspelled-properties
}

.title-product {
  color: $crimson;
  text-align: center;
}



