.img-single-product {
  height: 90%;
  width: 90%;
}

.single-title-product {
  color: $crimson;
}

.add-single-product {
  background-color: $black;
  color: $whitesmoke;
  font-size: 2rem;
  width: 50%;

  &:hover {
    color: $crimson;
  }
}

.div-single-product {
  padding: 1rem;
  text-align: center;
}

.attributes-single-product {
  color: $crimson;
}

.form-sizes {
  display: flex;
  justify-content: space-around;
  padding: 1.3rem;
}

.label-sizes {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;

  span {
    font-size: 2rem;
    position: absolute;
    text-align: center;
  }
}

.input-sizes {
  appearance: none;
  border: .2rem solid $black;
  border-radius: 2%;
  display: inline-block;
  height: 4rem;
  margin-right: .2rem;
  outline: none;
  width: 4rem;

  &:checked {
    background-color: $grey-clear;
  }
}
